
*{
	padding:0px;
	margin:0px;
}
 .bi
 {
	 background-image:url("../img/academy-banner.jpg");
	 background-size:cover;
 }
 
 .ft
 {
	 text-align:center;
	 background-color:black;
	 color:white;
	padding:50px;
	 height:20px;
 }

 
 
 
 
 
 
 